.nav {
  backdrop-filter: blur(1px);
  background: rgba(var(--color-black-text), 0.95);
  display: flex;
  justify-content: center;
}

.inner {
  padding-bottom: 24px;
  padding-top: 24px;
}

.links {
  align-items: center;
  display: flex;
  gap: 84px;
  justify-content: center;
}

@media (width < 992px) {
  .inner {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .links {
    gap: 64px;
  }
}

.activeLink {
  border-bottom: 1px solid var(--color-brand-red);
}
