.srOnly {
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.header {
  display: block;
}

.footer {
  display: block;
}

.mobileMenu {
  display: none;
}

.navigation {
  display: block;
  left: 0;
  position: fixed;
  transform: translateY(-100%);
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: top 250ms;
  width: 100%;
}

@media (width < 768px) {
  .grid {
    grid-template-rows: 1fr;
    padding-bottom: 48px;
  }

  .header {
    display: none;
  }

  .footer {
    display: none;
  }

  .mobileMenu {
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
  }

  .navigation {
    display: none;
  }
}
