.header {
  display: flex;
  justify-content: center;
}

.nav {
  padding-bottom: 36px;
  padding-top: 36px;
}

.navLinks {
  display: flex;
  gap: 84px;
}

@media (width < 992px) {
  .nav {
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .navLinks {
    gap: 64px;
  }
}
