.form {
  /* stylelint-disable-next-line csstree/validator */
  width: min(480px, 100%);
}

.textareaAutosize {
  background: var(--color-light-white);
  color: var(--color-black);
  font-family: arial, sans-serif;
  padding: 4px 6px;
}
