.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.article {
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 24px 24px 48px;
  width: min(960px, 100%);
}

@media (width < 768px) {
  .article {
    padding: 24px 12px 48px;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.date {
  color: var(--color-gray);
  font-size: 1.4rem;
}

.spacer {
  height: 36px;
}
