.hiddenHeading {
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
  width: min(960px, 100%);
}

.link {
  color: inherit;
  display: block;
  text-decoration: none;
}

.link:not(:first-child) {
  border-top: 1px solid var(--color-gray);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 24px;
  padding-top: 24px;
}

@media (width < 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .item {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.heading {
  font-size: 2.4rem;
  font-weight: bold;
}
