.srOnly {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  font-size: 1rem;
  font-weight: 500;
}
